<div class="row shadow-wrapper">
  <div class="col-md-12">

<h1> Favorites Products</h1>

    <table class="table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Pictures</th>
          <th>Price</th>
          <th>Description</th>
          <th>remove</th>
        </tr>
      </thead>
      <tbody>
      <% @favorites.each do |favorite| %>
        <tr>
          <td><%= favorite.name %></td>
          <td>
            <span class="product-images"><% favorite.uploads.each do |upload| %>
              <%= image_tag(upload.image(:medium)) %>
            <% end %></span>
          </td>
          <td><%= favorite.price %></td>
          <td><%= favorite.description %></td>
          <td><%= link_to 'Remove', favorite_product_path(favorite), method: :delete %></td>
        </tr>
        <% end %>
      </tbody>
    </table>

  </div>
</div>
