<div class="media">
  <a class="media-left" href="#">
    <%= image_tag Gravatar.new(comment.user.email).image_url, :class => "image-circle" %>
  </a>
  <div class="media-body">
    <h4 class="media-heading"><%= comment.user.name %></h4>
    <span><%= l(comment.created_at, format: '%d %b %y') %></span>
    <p><%= comment.body %></p>
  </div>
</div>

<% if comment.user == current_user %>
<p>
  <%= link_to 'Delete Comment', [comment.product, comment],
               method: :delete,
               data: { confirm: 'Are you sure?' } %>
</p>
<% end %>

