<div class="row shadow-wrapper">
  <div class="col-md-12">


<h1>Products</h1>


<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Price</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
  <% @products.each do |product| %>
    <tr>
      <td><%= product.name %></td>
      <td><%= product.quantity %></td>
      <td><%= product.price %></td>
      <td><%= product.description %></td>
      <td><%= link_to 'Show', admin_product_path(product) %></td>
      <td><%= link_to 'Edit', edit_admin_product_path(product) %></td>
      <td><%= link_to 'Destroy', admin_product_path(product),
                      method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
    <% end %>
  </tbody>
</table>

  </div>
</div>

