
<div class="row shadow-wrapper">
  <div id="crumbs">
    <ul class="nav nav-list">
      <li class="disabled"><a href="#">Create a new product</a></li>
      <li><a href="#">Upload pictures</a></li>
    </ul>
  </div>

  <div class="col-md-6 col-md-offset-3">
  <p>
    <strong>Name:</strong>
    <%= @product.name %>
  </p>
  <p>
    <strong>Stock:</strong>
    <%= @product.quantity %>
  </p>
  <p>
    <strong>Price:</strong>
    <%= @product.price %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= @product.description %>
  </p>

  <% @product.uploads.each do |upload| %>
    <%= image_tag(upload.image(:thumb)) %>
    <%= link_to 'Delete', [:admin, @product, upload], method: :delete, data: { confirm: "Are you sure?"} %>
  <% end %>

  <%= render 'admin/uploads/form' %>
  </div>

</div>
