
<div class="row shadow-wrapper">
  <div id="crumbs">
    <ul class="nav nav-list">
      <li class="disabled"><a href="#">Create a new product</a></li>
      <li><a href="#">Upload pictures</a></li>
    </ul>
  </div>

  <div class="col-md-6 col-md-offset-3">
  <p>
    <strong>Name:</strong>
    <%= @product.name %>
  </p>
  <p>
    <strong>Stock:</strong>
    <%= @product.quantity %>
  </p>
  <p>
    <strong>Price:</strong>
    <%= @product.price %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= @product.description %>
  </p>


  <%= render 'admin/uploads/form' %>

  </div>

  <div class="col-md-8 col-md-offset-2">
    <% @product.uploads.each do |upload| %>
    <div class="thumbnail uploaded-pictures">
      <%= image_tag(upload.image(:thumb)) %>
      <div class="caption">
        <%= link_to 'Delete', [:admin, @product, upload], method: :delete, class: "btn btn-alert", data: { confirm: "Are you sure?"} %>
      </div>
    </div>
    <% end %>
  </div>

  <div class="row">
    <%= link_to "Check your store", product_path(@product) , class: 'btn btn-warning pull-right'%>
  </div>
</div>
