<td>
  <%= link_to user.email, admin_user_path(user) %>
</td>
<td>
  <%= form_for([:admin, user], :html => {class: "form-inline"}) do |f| %>

   <div class="form-group">
  <%= f.select(:role, User.roles.keys.map {|role| [role.titleize,role]},{}, {class: "form-control select-user"})%>
  </div>
  <%= f.submit 'Change Role', :class => 'btn btn-primary' %>
  <% end %>

</td>
<td>
  <%= link_to("Delete user", admin_user_path(user), :data => { :confirm => "Are you sure?" }, :method => :delete, :class => 'btn btn-warning') unless user == current_user %>
</td>



