<div id="products" class="transitions-enabled">
  <% @products.each do |product| %>
    <div class="box panel panel-default">
      <%= link_to image_tag(product.image.url(:medium)), product %>
      <div class="panel-body">
        <%= product.description %>
        <%= product.user.email if product.user %>
        <%= link_to 'Show', product_path(product) %>
        <% if product.user == current_user %>
          <%= link_to 'Edit', edit_product_path(product) %>
          <%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
