<h2>Product details</h2>
<p>
  <strong>Name:</strong>
  <%= @product.name %>
</p>

<p>
  <strong>Price:</strong>
  <%= @product.price %>
</p>

<p>
  <strong>Description:</strong>
  <%= @product.description %>
</p>

<div id="galleria">
  <% @product.uploads.each do |upload| %>
    <%= image_tag(upload.image(:medium)) %>
  <% end %>
</div>


<h4>Comments</h4>
  <% @product.comments.each do |comment| %>
   <%= render 'comments/comment', comment: comment %>
  <% end %>
  <%# we could replace these 3 lines with <%= render @article.comments %>

  <%= render 'comments/form' %>

  <script>
    // Load the classic theme
    Galleria.loadTheme('galleria.classic.min.js');

    // Initialize Galleria
    Galleria.run('#galleria');
  </script>

