<div class="row shadow-wrapper">
  <div class="col-md-7">

  <div id="galleria">
    <% @product.uploads.each do |upload| %>
      <%= image_tag(upload.image(:medium)) %>
    <% end %>
  </div>


  <h4>Comments</h4>

  <% @product.comments.each do |comment| %>
   <%= render 'comments/comment', comment: comment %>
  <% end %>
  <%# we could replace these 3 lines with <%= render @product.comments %>

  <%= render 'comments/form' %>
  </div>

  <div class="col-md-5">
    <h2>Product details</h2>
    <p>
      <strong>Name:</strong>
      <%= @product.name %>
    </p>

    <p>
      <strong>Description:</strong>
      <%= @product.description %>
    </p>
    <p>
      <strong>Stock:</strong>
      <%= @product.quantity %>
    </p>
    <p>
      <strong>Price:</strong>
      $<%= @product.price %>
    </p>

    <div class="well well-sm clearfix">
  <%= form_tag add_to_cart_path(@product), method: :put do %>
    <div class="form-group col-sm-3 text-center">
      <%= label_tag :quantity %>
      <%= select_tag(:quantity, quantity_options(@product.quantity), {:class => 'form-control'}) %>
    </div>
    <div class="col-sm-9 text-center">
     <%if signed_in?%>
        <% if @product.in_cart?(current_user.id) %>
          <%= link_to "Remove from cart", remove_from_cart_path(@product), method: :put, class: "btn btn-warning btn-cart" %>
        <% else %>
          <button type="submit" class="btn btn-warning btn-cart">
            <span class='glyphicon glyphicon-shopping-cart'></span> Add to cart
          </button>
        <% end %>
     <%end%>
    </div>
  <% end %>
  </div>

</div>

  <script>
    // Initialize Galleria
    Galleria.run('#galleria');
  </script>

