<nav class="navbar yamm navbar-default navbar-admin navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to "Brand", root_path, class: "logo-center" %>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav green">
        <li class="dropdown yamm-fw">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Buy & Sell <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li>
              <!-- Content container to add padding -->
              <div class="yamm-content">
                <div class="row">
                  <div class="col-sm-2 col-sm-offset-2">
                    <h3  class="margin-top-0">Buy</h3>
                    <ul class="list-unstyled">
                      <li><%= link_to "All products", root_path %></li>
                      <li><%= link_to "Your favorites", favorite_products_path %></li>
                    </ul>
                    </div>
                    <div class="col-sm-2">
                    <h3 class="margin-top-0">Sell</h3>
                    <ul class="list-unstyled">
                      <li><%= link_to "New product", new_admin_product_path %></li>
                      <li><%= link_to "Edit you profile", edit_user_registration_path %></li>
                    </ul>
                  </div>
                  <div class="col-sm-2 nav-border">
                  <h3 class="margin-top-0">New Customer</h3>
                    <p class="">New to Brand? Create an account to get started today.</p>
                    <%= link_to "Register", new_user_registration_path, class: "btn btn-warning btn-register" %>
                  </div>
                  <div class="col-sm-2">
                  <h3 class="margin-top-0">Sign in</h3>
                    <ul class="list-unstyled">
                      <li><%= form_for(:user, :url => session_path(:user)) do |f| %>
                          <div class="form-group">
                          <%= f.text_field :email, placeholder: "Email", class: "input-small form-control" %>
                          </div>
                          <div class="form-group">
                          <%= f.password_field :password, :placeholder => "Password", class: "input-small form-control"  %>
                          </div>
                          <div class="form-group">
                          <%= f.check_box :remember_me, class: "checkbox" %><%= f.label :remember_me, class: "checkbox" %>
                          </div>
                          <%= f.submit 'Login', class: "btn btn-warning" %>
                        <% end %></li>
                    </ul>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right green">
        <li class="dropdown yamm-fw">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></a>
          <ul class="dropdown-menu" role="menu">
          <%= search_form_for @search, html: { class: "form-inline search-form"} do |f| %>
            <%= f.text_field :name_or_description_cont, class: "search-input form-control", autofocus: true, placeholder: "Search..." %>
          <% end %>
          </ul>
        </li>
        <li><%= link_to favorite_products_path do %>
          <span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
          <% if user_signed_in? %>
              <span class="badge"><%=Favorite.count%></span>
            <% end %>
          <% end %>
        <li>
          <%= link_to cart_path do %>
            <span class="glyphicon glyphicon-shopping-cart"></span>
            <% if user_signed_in? %>
              <span class="badge"><%=current_user.cart_count%></span>
            <% end %>
          <% end %>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle avatar" data-toggle="dropdown" role="button" aria-expanded="false">
          <% if user_signed_in? %>
          <%= image_tag Gravatar.new(current_user.email).image_url, :class => "image-circle" %>
          <% else %>
          <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
          <% end %>
          <span class="caret"></span>
          </a>
          <ul class="dropdown-menu" role="menu">
            <% if user_signed_in? %>
            <li><%= link_to "Dashboard", admin_products_path %></li>
              <li><%= link_to "Log out", destroy_user_session_path, method: :delete %></li>
            <% else %>
              <li><%= link_to "Log in", new_user_session_path %></li>
              <li><%= link_to "Sign up", new_user_registration_path %></li>
            <% end %>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
